:root {
  --header-bg: rgb(249, 249, 249);   
  --logo: #da742b;
  --main-0: #e65c00;   
  --main-0-white : white;    
  --main-1: #ffa64d;      
  --main-2: #e65c00;     
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
}